<footer>
    <section class="d-flex justify-content-around">
        <div class="title-footer">
            <a href="{{ path('home') }}" class="text-decoration-none d-flex align-content-center" ><img src="{{ asset('img/paint.svg') }}" class="paint"><span>Modern-Arts</span></a>
            <div class="d-flex flex-column ">
                <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi.</p>
                <p>+32 (0)132 425 6452</p>
                <p>info@artmuseum.org</p>
            </div>
        </div>
        <div>
            <h5>Links</h5>
            <div class="d-flex flex-column">
                <a href="{{ path('about') }}">About</a>
                <a href="{{ path('gallery') }}">Gallery</a>
                <a href="{{ path('contact') }}">Contact</a>
                </ul>
            </div>
        </div>
        <div>
            <h5>More infos</h5>
            <div class="d-flex flex-column">
                <a href="#">Website terms of use</a><a href="">Copyright & image licensing</a></li>
                <a href="#">Terms & conditions</a>
                <a href="#">Apply for a job</a>
                <a href="#">Become an artist member</a>
            </div>
        </div>
    </section>
    <hr class="text-primary">
    <section class="d-flex justify-content-center">
        <a href="https://fr-fr.facebook.com/" target="_blank" class="footer-link"><i class="bi bi-facebook"></i></a>
        <a href="https://fr.linkedin.com/" target="_blank" class="footer-link"><i class="bi bi-linkedin"></i></a>
        <a href="https://www.instagram.com/?hl=fr" target="_blank" class="footer-link"><i class="bi bi-instagram"></i></a>
        <a href="https://www.messenger.com/" target="_blank" class="footer-link"><i class="bi bi-messenger"></i></a>
        <a href="https://www.youtube.com/" target="_blank" class="footer-link"><i class="bi bi-youtube"></i></a>
        <a href="https://twitter.com/" target="_blank" class="footer-link"><i class="bi bi-twitter"></i></a>

    </section>
</footer>